 
.grid{
    
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;

}

.square{
    height: 200px;
    width: 200px;
    border: solid;
    border-color: black;
    margin: 2px;
}
.mole {
    background-image: url(/whac-a-mole/mole.jpg);
    background-size: cover;
}